<h4>{{title}}</h4>
<ul class="list-group">
  <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
  [ngClass]="{
    'list-group-item-success': esPrimer,
    'list-group-item-primary': !esPrimer,
    'list-group-item-warning': impar,
    'list-group-item-danger': ultimo}"
  *ngFor="let item of heroes;
  index as i;  let esPrimer = first;
  count as total;  even as par;
  odd as impar;  last as ultimo"  >
  <div>
    {{i + 1}} {{item.name}} - {{item.power}}
    <span class="list-group-item-success" *ngIf="i === 0">Firs</span>
    <span *ngIf="i === heroes.length - 1">Last</span>
    <span >{{ (i-1) % 2 === 0 ? ' - Even' : ' - Odd' }}</span>
  </div>

  <button class="btn btn-danger" (click)="deleteElem(item.id)">Delete</button>
  </li>
</ul>
<br>

